/* Add maven for code font (keep other xaringan defaults */
@import url(https://fonts.googleapis.com/css?family=Arial+OS);
@import url(https://fonts.googleapis.com/css?family=Inconsolata);
@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700);

body {
  font-family: 'Arial';
}
h1, h2, h3 {
  font-family: 'Arial';
  font-weight: bolder;
}

.remark-code, .remark-inline-code { 
  font-family: 'Inconsolata', monospace; 
} 

.remark-inline-code { 
  color: #cf0000;
  background-color: #F2F1F1;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  padding: 2px;
  margin: 2px;
  border-radius: 5px;
}

.remark-code-line-highlighted{ 
  background-color: #ffff88; 
}

/*Fontsize a la latex*/

.Large       , .Large .remark-code, .Large .remark-inline-code { font-size: 144%; }
.large       , .large .remark-code, .large .remark-inline-code { font-size: 120%; }
.small       , .small .remark-code, .small .remark-inline-code { font-size: 90%; }
.footnotesize, .footnotesize .remark-code, .footnotesize .remark-inline-code { font-size: 80%; }
.scriptsize  , .scriptsize .remark-code, .scriptsize .remark-inline-code { font-size: 70%; }
.tiny        , .tiny .remark-code, .tiny .remark-inline-code { font-size: 60%; }